.container-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.meet-us-title-containers{
    text-align: center;
}

.meetus-title{
    color: var(--link);
    font-size: 30px;
    margin-bottom: 15px;
}

.profile-pic-container{
    background-color: var(--accent);
    border-radius: 10px;
}

.img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--header);
    border-radius: 10px;
    width: 73%;
}

.profile-img{
    width: 500px;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.roles{
    color: var(--text)
}

.portfolio-link{
    color: #fff;
}

.portfolio-link:hover{
    color: #fff;
    text-decoration: underline;
}