.calendar {
  margin-left: 40%;
  margin-right: 40%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.dashboard-title {
  font-size: 30px;
  color: var(--link);
}

.top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.project-title {
  color: var(--link);
}

.secondary {
  background-color: var(--header);
}

.primary {
  background-color: var(--background);
}

.accent {
  background-color: var(--accent);
}

.font {
  color: var(--text);
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
